<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title> Install Caleb ver. 1.0 </title>  
       
       
       <script type="text/javascript" src="/assets/javascripts/jquery-3.1.0.min.js"></script>
       <script type="text/javascript" src="/assets/javascripts/app.js"></script>
         <!-- Base Css Files -->
        <link href="/assets/assets/libs/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
        <link href="/assets/assets/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="/assets/assets/libs/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/assets/assets/libs/fontello/css/fontello.css" rel="stylesheet" />
        <link href="/assets/assets/libs/animate-css/animate.min.css" rel="stylesheet" />
        <link href="/assets/assets/libs/nifty-modal/css/component.css" rel="stylesheet" />
        <link href="/assets/assets/libs/magnific-popup/magnific-popup.css" rel="stylesheet" /> 
        <link href="/assets/assets/libs/ios7-switch/ios7-switch.css" rel="stylesheet" /> 
        <link href="/assets/assets/libs/pace/pace.css" rel="stylesheet" />
        <link href="/assets/assets/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" />
        <link href="/assets/assets/libs/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
        <link href="/assets/assets/libs/jquery-icheck/skins/all.css" rel="stylesheet" />
        <link href="/assets/assets/libs/bootstrap-dialog/css/bootstrap-dialog.css" rel="stylesheet" />
        <!-- Code Highlighter for Demo -->
        <link href="/assets/assets/libs/prettify/github.css" rel="stylesheet" />
        
                <!-- Extra CSS Libraries Start -->
                <link href="/assets/assets/libs/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
                <link href="/assets/assets/libs/bootstrap-validator/css/bootstrapValidator.min.css" rel="stylesheet" type="text/css" />
                <link href="/assets/assets/css/style.css" rel="stylesheet" type="text/css" />
                <!-- Extra CSS Libraries End -->
        <link href="/assets/assets/css/style-responsive.css" rel="stylesheet" />
        
        <!-- Step Form Wizard plugin -->
        <link rel="stylesheet" href="step-form-wizard/css/step-form-wizard-all.css" type="text/css" media="screen, projection">
     
        <!-- nicer scroll in steps -->
        <link rel="stylesheet" href="plugins/mcustom-scrollbar/jquery.mCustomScrollbar.min.css">
       
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        

    </head>
    <body class="">
    <div id="wrapper"> <!--wrapper start-->
    	<!--  MODIFY BY YUHA -->
   	    <section class="hero-banner bg-success"><!--section top start-->
            <div class="container text-center"><!--section container top start-->
                <div class="row"><!--row start-->
                    <div class="col-sm-10 col-sm-offset-1">
                        <h2 class="text-white-1"> Install Galeb ver 1.0 </h2><hr>
                        <div class="col-sm-12 text-white-1">
                            <p>
                                갈렙(Caleb)은 대용량 데이터 처리를 위해 분산 컴퓨팅 환경을 제공하는 플랫폼에서 대용량 유전체 데이터를 웹(web) 기반의 대쉬보드(dashboard)의 GUI 환경을 통해서 연구자들이 손쉽게 유전체 분석 파이프라인을 구성하고 해당 파이프라인으로 구성된 잡(Job)을 등록하고 자동으로 스케줄링하여 고속으로 유전체 분석을 가능하도록 하는 분석 플랫폼 입니다.
                            </p>
                        </div>
                    </div>
                </div><!--row end-->
            </div><!--section container top end-->
        </section><!--section top end-->
        <section class="hero-banner"><!--section middle start-->
            <div class="container"><!---container start-->
                <div class="data-table-toolbar">
                   <div class="row">
                       <div class="col-md-8">                   
                       	   <div class="toolbar-btn-action">
                       	   	   <a class="btn btn-success" id="addbutton"><i class="fa fa-plus-circle"></i> Add new</a>
                               <a class="btn btn-danger" id="delbutton"><i class="fa fa-trash-o"></i> Delete</a>
                               <!-- modify by yuha -->
							   <input id="sshport" name='sshport' class="form-control:focus" placeholder="SSH Port" style="text-align:center;">
                           	   <input id="interface" name='interface' class="form-control:focus" placeholder="Interface" style="text-align:center;">                           	   
                                                   
                           	</div>                                                                                                                
                       </div>                       
                    </div>                   
                </div><!---table top add and delete button end-->
                <div class="table-responsive"><!--- div table start-->
                        <table data-sortable class="table table-hover table-striped" ><!--table start-->                        
                            <thead>
                                <tr style="height:50px">
                                   <th data-sortable="false" style="text-align:center;">Master/Worker</th>
                                   <th data-sortable="false" style="text-align:center;">IP Address</th>
                                   <!--  modify by yuha
                                   <th data-sortable="false" style="text-align:center;">SSH Port</th>                                   
                                   <th data-sortable="false" style="text-align:center;">Interface</th>
                                   -->
                                   <th data-sortable="false" style="text-align:center;">Password</th>
                                </tr>
                            </thead>
                            <tbody class="tbodyclass" id='table'>                            
                            		<tr style="height:50px" id='1'>
                                   <td>
                                   <select class="form-control selectpicker" id='1select' name='1select'>
                                       <option>Master</option>
                                       <option>Worker</option>
                                       <option>Storage</option>
                                   </select>
	                               </td>
	                                    <td>
	                                   <input id="ipaddress" name='1ipaddress' class="form-control" placeholder="IP Address" style="text-align:center;">
	                               <!-- modify by yuha 
	                               </td>
	                                    <td>
	                                   <input id="1sshport" name='1sshport' class="form-control" placeholder="SSH Port" style="text-align:center;">
	                               </td>
	                                    <td>
	                                   <input id="1interface" name='1interface' class="form-control" placeholder="Interface" style="text-align:center;">
	                               </td>
	                                -->
	                                    <td>
	                                   <input id="password" name='1password' class="form-control" placeholder="Password" style="text-align:center;">
	                               </td>
	                                </tr>	
                            </tbody>
                        </table><!--table end-->
                        <div class="data-table-toolbar"><!---table install button start-->
                    <div class="col-md-12" style="text-align:center">
                        <button class="btn btn-primary btn-lg btn-block" id="install-button" type="submit">설치하기!</button>
                    </div>
                </div><!---table install button end-->
                    
                </div><!---div table end-->
                
            </div> <!---container end-->
        </section><!--section middle end-->
    
    </div><!--wrapper end--> 

    <script>
        var resizefunc = [];
    </script>
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/assets/assets/libs/jquery/jquery-2.1.4.min.js"></script>
	<script src="/assets/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/assets/libs/bootstrap-dialog/js/bootstrap-dialog.js"></script>
    <script src="/assets/asstes/js/jquery.ajax-cross-origin.min.js""></script>
	<script src="/assets/assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="/assets/assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
	<script src="/assets/assets/libs/jquery-detectmobile/detect.js"></script>
	<script src="/assets/assets/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
	<script src="/assets/assets/libs/ios7-switch/ios7.switch.js"></script>
	<script src="/assets/assets/libs/fastclick/fastclick.js"></script>
	<script src="/assets/assets/libs/jquery-blockui/jquery.blockUI.js"></script>
	<script src="/assets/assets/libs/bootstrap-bootbox/bootbox.min.js"></script>
	<script src="/assets/assets/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script src="/assets/assets/libs/jquery-sparkline/jquery-sparkline.js"></script>
	<script src="/assets/assets/libs/nifty-modal/js/classie.js"></script>
	<script src="/assets/assets/libs/nifty-modal/js/modalEffects.js"></script>
	<script src="/assets/assets/libs/sortable/sortable.min.js"></script>
	<script src="/assets/assets/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
	<script src="/assets/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="/assets/assets/libs/bootstrap-select2/select2.min.js"></script>
	<script src="/assets/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script> 
	<script src="/assets/assets/libs/pace/pace.min.js"></script>
	<script src="/assets/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="/assets/assets/libs/jquery-icheck/icheck.min.js"></script>
    <!-- Page Specific JS Libraries End -->
    </body>
</html>